# Ignorar node_modules
node_modules/

# Archivos de build
dist/
build/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuración local
.env
.vscode/
.idea/
.DS_Store
